<!doctype html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Debate</title>

<link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/bootstrap-responsive.css" rel="stylesheet">
<link href="css/mobile.css" rel="stylesheet" media="screen">

</head>

<body>

	<div class="container-fluid header">
		<div class="container">
			<div class="span3 zero">
			<img src="img/logo.png" alt=""/>
			 </div>
			<div class="span7">
				<ul class="nav">
					<li  class="active"><a href="#">Home</a></li>
					<li><a href="news.html">News</a></li>
					<li><a href="about-us.html">About Us</a></li>
					<li><a href="#">Media</a></li>
					<li class="livestream"><a href="livestream.html">Livestream</a></li>
				</ul>

			</div>
			<div class="span2 social">
				<ul>
					<li><img src="img/facebook.png" alt=""/></li>
					<li><img src="img/twitter.png" alt=""/></li>
					<li><img src="img/instagram.png" alt=""/></li>
				</ul>

			</div>
		</div>
		
	</div>
	
	<div class="clearboth"></div>
	
<div class="container">
	
		<div class="span8 left-0 wrapper">
    		<img src="img/livestream.jpg" alt=""/>    	
    		
		</div>	
		<div class="span2 right-15">
		
   			
			
		</div>
		
		
		<div class="span4 white-2 zero-left">
			<div class="poll-section">
					<h2>Quick poll</h2>	
					Who do you think will win the debate tonight ?
						<div class="clearboth"></div>
					  <div class="candidate-1">
						  <h1>42%</h1> 
						  <h2>Evans Kidero</br> Jubilee</h2>
					   </div>
					  <div class="candidate-2">
						 <h1>38%</h1>
						  <h2>Mike Sonko</br>Jubilee</h2>
					  </div>
					  <div class="candidate-1">
						  <h1>24%</h1> 
						  <h2>Peter Kenneth</br> Jubilee</h2>
					   </div>
					  <div class="candidate-2">
						 <h1>02%</h1>
						  <h2>Miguna Miguna</br>ODM</h2>
					  </div>
						<div class="clearboth"></div>
						<ul class="voting">
						<li>
						<label class="radio">
						  <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
						  Peter Kenneth - Jubilee
						</label>
							</li>
							<li>
						<label class="radio ">
						  <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
						  Evans Kidero - ODM
						</label>
							</li>
							<li>
						<label class="radio ">
						  <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
						  Mike Sonko - Jubilee
						</label>
							</li>
							<li>
						<label class="radio ">
						  <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
						  Miguna Miguna - Independent
						</label>
							</li>
							<li>
						<label class="radio">
						  <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
						  Peter Kenneth - Jubilee
						</label>
							</li>
						</ul>
						<button class="btn btn-success" type="button">Send vote</button>
			</div>
			
</div>
		
		
		
</div>


	
<div class="clearboth"></div>
	
<div class="container candidate-wrapper">
	
	<div class="candidates-title">
	<h2>Nairobi County Gubernatorial Candidates</h2>
	</div>
	
	<ul class="candidates">
		<li><img src="img/1.jpg"  class="img-circle" alt=""/>
			<h1>Peter Kenneth</h1>
			<h2>Jubilee</h2>
			<div class="clearboth"></div>
		</li>
		<li><img src="img/2.jpg"  class="img-circle" alt=""/>
			<h1>Evans Kidero</h1>
			<h2>ODM</h2>
			<div class="clearboth"></div>
		</li>
		<li><img src="img/3.jpg"  class="img-circle" alt=""/>
			<h1>Mike Sonko</h1>
			<h2>Jubilee</h2>
			<div class="clearboth"></div>
		</li>
		<li><img src="img/4.jpg"  class="img-circle" alt=""/>
			<h1>Miguna Miguna</h1>
			<h2>Independent</h2>
			<div class="clearboth"></div>
		</li>
		<li><img src="img/1.jpg"  class="img-circle" alt=""/>
			<h1>Peter Kenneth</h1>
			<h2>Jubilee</h2>
			<div class="clearboth"></div>
		</li>
	</ul>

</div>





<div class="container">
  <div class="white">
  <div class="moderators-title">
	<h2>Debate Schedule</h2>
	</div>
	
	<div class="span6 left-0">
	<ul class="debate-schedule">
		<li>
			<div class="span1 date">
				<h1>02</h1>
				<h2>June</h2>
			</div>
			<div class="span4 debate-info">
				<h3>Presidential Debate</h3>
				<h4>Strathmore University</br> 7pm on Ktn, Citizen, NTV</h4>
			</div>
			<div class="clearboth"></div>
		</li>
		<li>
			<div class="span1 date">
				<h1>04</h1>
				<h2>July</h2>
			</div>
			<div class="span4 debate-info">
				<h3>Nairobi Gubenatorial Debate</h3>
				<h4>Nairobi University</br>9pm on Ktn, Citizen, NTV</h4>
			</div>
			<div class="clearboth"></div>
		</li>
		
		
	</ul>
</div>
	<div class="span6 left-0">
	<ul class="debate-schedule">
		<li>
			<div class="span1 date">
				<h1>30</h1>
				<h2>June</h2>
			</div>
			<div class="span4 debate-info">
				<h3>Presidential Debate</h3>
				<h4>Strathmore University</br> 7pm on Ktn, Citizen, NTV</h4>
			</div>
			<div class="clearboth"></div>
		</li>
		<li>
			<div class="span1 date">
				<h1>02</h1>
				<h2>Aug</h2>
			</div>
			<div class="span4 debate-info">
				<h3>Nairobi Gubenatorial Debate</h3>
				<h4>KICC</br>9pm on Ktn, Citizen, NTV</h4>
			</div>
			<div class="clearboth"></div>
		</li>
		
		
	</ul>
</div>
<div class="clearboth"></div>

</div>
</div>


<div class="container candidate-wrapper">
	<div class="moderators-title">
	<h2>Moderators</h2>
	</div>
	<ul class="candidates">
		<li><img src="img/m1.jpg"  class="img-circle" alt=""/>
			<h1>John Sibi Okumu</h1>
			<h2>KTN</h2>
			<div class="clearboth"></div>
		</li>
		<li><img src="img/m2.jpg"  class="img-circle" alt=""/>
			<h1>Uduak amimo</h1>
			<h2>Citizen tv</h2>
			<div class="clearboth"></div>
		</li>
		<li><img src="img/m3.jpg"  class="img-circle" alt=""/>
			<h1>Jeff Koinange</h1>
			<h2>Jubilee</h2>
			<div class="clearboth"></div>
		</li>
		<li><img src="img/m1.jpg"  class="img-circle" alt=""/>
			<h1>John Sibi Okumu</h1>
			<h2>KTN</h2>
			<div class="clearboth"></div>
		</li>
		<li><img src="img/m2.jpg"  class="img-circle" alt=""/>
			<h1>Uduak amimo</h1>
			<h2>Citizen tv</h2>
			<div class="clearboth"></div>
		</li>
	</ul>

</div>



<div class="container-fluid white">
<div class="container">
			
					
				<div class="span4 left-0">
					<h2 class="ktn-title">Standard</h2>
					<ul class="news-list">
						<li class="standard-digital">
								<h4>08 April 4:36pm</h4>							
								<h3><a href="#">I'm not a gangster, Governor Kabogo tells his critics</a></h3>
								Kiambu Governor William Kabogo has denied accusations of frustrating his political opponents by unleashing terror gangs
						</li>
						<li class="standard-digital">
								<h4>08 April 4:36pm</h4>							
								<h3><a href="#">I'm not a gangster, Governor Kabogo tells his critics</a></h3>
								Kiambu Governor William Kabogo has denied accusations of frustrating his political opponents by unleashing terror gangs
						</li>
						<li class="standard-digital">
								<h4>08 April 4:36pm</h4>							
								<h3><a href="#">I'm not a gangster, Governor Kabogo tells his critics</a></h3>
								Kiambu Governor William Kabogo has denied accusations of frustrating his political opponents by unleashing terror gangs
						</li>
						<li class="standard-digital">
								<h4>08 April 4:36pm</h4>							
								<h3><a href="#">I'm not a gangster, Governor Kabogo tells his critics</a></h3>
								Kiambu Governor William Kabogo has denied accusations of frustrating his political opponents by unleashing terror gangs
						</li>
						<li class="standard-digital">
								<h4>08 April 4:36pm</h4>							
								<h3><a href="#">I'm not a gangster, Governor Kabogo tells his critics</a></h3>
								Kiambu Governor William Kabogo has denied accusations of frustrating his political opponents by unleashing terror gangs
						</li>
						<li class="standard-digital">
								<h4>08 April 4:36pm</h4>							
								<h3><a href="#">I'm not a gangster, Governor Kabogo tells his critics</a></h3>
								Kiambu Governor William Kabogo has denied accusations of frustrating his political opponents by unleashing terror gangs
						</li>
						
					</ul>
						
				</div>
				
				
				<div class="span4 right-15">
					<h2 class="citizen-title">Citizen</h2>
					<ul class="news-list">
						<li class="citizen">
								<h4>08 April 4:36pm</h4>							
								<h3><a href="#">I'm not a gangster, Governor Kabogo tells his critics</a></h3>
								Kiambu Governor William Kabogo has denied accusations of frustrating his political opponents by unleashing terror gangs
						</li>
						<li class="citizen">
								<h4>08 April 4:36pm</h4>							
								<h3><a href="#">I'm not a gangster, Governor Kabogo tells his critics</a></h3>
								Kiambu Governor William Kabogo has denied accusations of frustrating his political opponents by unleashing terror gangs
						</li>
						<li class="citizen">
								<h4>08 April 4:36pm</h4>							
								<h3><a href="#">I'm not a gangster, Governor Kabogo tells his critics</a></h3>
								Kiambu Governor William Kabogo has denied accusations of frustrating his political opponents by unleashing terror gangs
						</li>
						<li class="citizen">
								<h4>08 April 4:36pm</h4>							
								<h3><a href="#">I'm not a gangster, Governor Kabogo tells his critics</a></h3>
								Kiambu Governor William Kabogo has denied accusations of frustrating his political opponents by unleashing terror gangs
						</li>
						<li class="citizen">
								<h4>08 April 4:36pm</h4>							
								<h3><a href="#">I'm not a gangster, Governor Kabogo tells his critics</a></h3>
								Kiambu Governor William Kabogo has denied accusations of frustrating his political opponents by unleashing terror gangs
						</li>
						<li class="citizen">
								<h4>08 April 4:36pm</h4>							
								<h3><a href="#">I'm not a gangster, Governor Kabogo tells his critics</a></h3>
								Kiambu Governor William Kabogo has denied accusations of frustrating his political opponents by unleashing terror gangs
						</li>
						
					</ul>
						
				</div>
				
				<div class="span4 right-15">
					<h2 class="ntv-title">Nation</h2>
					<ul class="news-list">
						<li class="ntv">
								<h4>08 April 4:36pm</h4>							
								<h3><a href="#">I'm not a gangster, Governor Kabogo tells his critics</a></h3>
								Kiambu Governor William Kabogo has denied accusations of frustrating his political opponents by unleashing terror gangs
						</li>
						<li class="ntv">
								<h4>08 April 4:36pm</h4>							
								<h3><a href="#">I'm not a gangster, Governor Kabogo tells his critics</a></h3>
								Kiambu Governor William Kabogo has denied accusations of frustrating his political opponents by unleashing terror gangs
						</li>
						<li class="ntv">
								<h4>08 April 4:36pm</h4>							
								<h3><a href="#">I'm not a gangster, Governor Kabogo tells his critics</a></h3>
								Kiambu Governor William Kabogo has denied accusations of frustrating his political opponents by unleashing terror gangs
						</li>
						<li class="ntv">
								<h4>08 April 4:36pm</h4>							
								<h3><a href="#">I'm not a gangster, Governor Kabogo tells his critics</a></h3>
								Kiambu Governor William Kabogo has denied accusations of frustrating his political opponents by unleashing terror gangs
						</li>
						<li class="ntv">
								<h4>08 April 4:36pm</h4>							
								<h3><a href="#">I'm not a gangster, Governor Kabogo tells his critics</a></h3>
								Kiambu Governor William Kabogo has denied accusations of frustrating his political opponents by unleashing terror gangs
						</li>
						<li class="ntv">
								<h4>08 April 4:36pm</h4>							
								<h3><a href="#">I'm not a gangster, Governor Kabogo tells his critics</a></h3>
								Kiambu Governor William Kabogo has denied accusations of frustrating his political opponents by unleashing terror gangs
						</li>
						
					</ul>
						
				</div>
				
			
					

			
</div>
</div>
	
<div class="footer">© Copyright 2017 - Debates Kenya</div>	
</body>
</html>
