<!doctype html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Debate</title>

<link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/bootstrap-responsive.css" rel="stylesheet">
<link href="css/mobile.css" rel="stylesheet" media="screen">

</head>

<body>

	<div class="container-fluid header">
		<div class="container">
			<div class="span3 zero">
			<img src="img/logo.png" alt=""/>
			 </div>
			<div class="span7">
				<ul class="nav">
					<li><a href="index.html">Home</a></li>
					<li class="active"><a href="#">News</a></li>
					<li><a href="about-us.html">About Us</a></li>
					<li><a href="#">Media</a></li>
					<li class="livestream"><a href="#">Livestream</a></li>
				</ul>

			</div>
			<div class="span2 social">
				<ul>
					<li><img src="img/facebook.png" alt=""/></li>
					<li><img src="img/twitter.png" alt=""/></li>
					<li><img src="img/instagram.png" alt=""/></li>
				</ul>

			</div>
		</div>
		
	</div>
	
	<div class="clearboth"></div>


<div class="container">
		
		<div class="span12 banner-wrapper">
    		<img src="img/livestream.jpg" alt=""/>    	
    		
		</div>	
		
		</div>
		
		<div class="container">
    			<div class="white">
						<div class="poll-section">
							<h2>Quick poll</h2>	
							Who do you think will win the debate tonight ?</br></br>
								<ul class="voting">
									<li>
								<label class="radio">
								  <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
								  Peter Kenneth - Jubilee
								</label>
									</li>
									<li>
								<label class="radio ">
								  <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
								  Evans Kidero - ODM
								</label>
									</li>
									<li>
								<label class="radio ">
								  <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
								  Mike Sonko - Jubilee
								</label>
									</li>
									<li>
								<label class="radio ">
								  <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
								  Miguna Miguna - Independent
								</label>
									</li>
								</ul></br></br>
								<button class="btn btn-success" type="button">Send vote</button>
						</div>
</div>
</div>
	
	
	<div class="clearboth"></div>
		<div class="container">
			
			<div class="white">
			<h2>Related Stories</h2>	
			<div class="span4 left-0 related-stories-standard ">
				<img src="img/Banner.jpg" alt=""/>
					<h3>By KTN - Thur 06, 2017 </h3>
					The day Uhuru, Joho and Raila destroyed my marriage
					</div>
			<div class="span4 right-15 related-stories-ntv">
				<img src="img/Banner.jpg" alt=""/>
				<h3>By ntv - Thur 06, 2017 </h3>
				President Uhuru and Raila lock horns over election laws
			</div>
			<div class="span4 right-15 related-stories-citizen">
				<img src="img/Banner.jpg" alt=""/>
					<h3>By Citizen - Thur 06, 2017 </h3>
					President Uhuru and Raila lock horns over election laws
			</div>
			
			<div class="span4 left-0 related-stories-standard ">
				<img src="img/Banner-news.jpg" alt=""/>
					<h3>By KTN - Thur 06, 2017 </h3>
					The day Uhuru, Joho and Raila destroyed my marriage
					</div>
			<div class="span4 right-15 related-stories-ntv">
				<img src="img/Banner-news.jpg" alt=""/>
				<h3>By ntv - Thur 06, 2017 </h3>
				President Uhuru and Raila lock horns over election laws
			</div>
			<div class="span4 right-15 related-stories-citizen">
				<img src="img/Banner-news.jpg" alt=""/>
					<h3>By Citizen - Thur 06, 2017 </h3>
					President Uhuru and Raila lock horns over election laws
			</div>
			<div class="clearboth"></div>
		</div>
			
	</div>


<div class="container">
  <div class="white">
  <div class="moderators-title">
	<h2>Debate Schedule</h2>
	</div>
	
	<div class="span6 left-0">
	<ul class="debate-schedule">
		<li>
			<div class="span1 date">
				<h1>04</h1>
				<h2>June</h2>
			</div>
			<div class="span4 debate-info">
				<h3>Presidential Debate</h3>
				<h4>Strathmore University</br> 7pm on Ktn, Citizen, NTV</h4>
			</div>
			<div class="clearboth"></div>
		</li>
		<li>
			<div class="span1 date">
				<h1>30</h1>
				<h2>July</h2>
			</div>
			<div class="span4 debate-info">
				<h3>Kakamega Gubenatorial Debate</h3>
				<h4>Kakamega Town</br>9pm on Ktn, Citizen, NTV</h4>
			</div>
			<div class="clearboth"></div>
		</li>
		<li>
			<div class="span1 date">
				<h1>01</h1>
				<h2>August</h2>
			</div>
			<div class="span4 debate-info">
				<h3>Deputy President's Debate</h3>
				<h4>Mombasa Whitesands </br> 6pm on Ktn, Citizen, NTV</h4>
			</div>
			<div class="clearboth"></div>
		</li>
		
	</ul>
</div>
	<div class="span6 left-0">
	<ul class="debate-schedule">
		<li>
			<div class="span1 date">
				<h1>04</h1>
				<h2>June</h2>
			</div>
			<div class="span4 debate-info">
				<h3>Presidential Debate</h3>
				<h4>Strathmore University</br> 7pm on Ktn, Citizen, NTV</h4>
			</div>
			<div class="clearboth"></div>
		</li>
		<li>
			<div class="span1 date">
				<h1>30</h1>
				<h2>July</h2>
			</div>
			<div class="span4 debate-info">
				<h3>Kakamega Gubenatorial Debate</h3>
				<h4>Kakamega Town</br>9pm on Ktn, Citizen, NTV</h4>
			</div>
			<div class="clearboth"></div>
		</li>
		<li>
			<div class="span1 date">
				<h1>01</h1>
				<h2>August</h2>
			</div>
			<div class="span4 debate-info">
				<h3>Deputy President's Debate</h3>
				<h4>Mombasa Whitesands </br> 6pm on Ktn, Citizen, NTV</h4>
			</div>
			<div class="clearboth"></div>
		</li>
		
	</ul>
</div>
<div class="clearboth"></div>

</div>
</div>

	
<div class="footer">© Copyright 2017 - Debates Kenya</div>	
</body>
</html>
