<!doctype html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Debate</title>

<link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/bootstrap-responsive.css" rel="stylesheet">
<link href="css/mobile.css" rel="stylesheet" media="screen">

</head>

<body>

	<div class="container-fluid header">
		<div class="logo">
	    <img src="img/logo.png" alt=""/>
	     </div>
		<div class="social">
			<ul>
				<li><img src="img/facebook.png" alt=""/></li>
				<li><img src="img/twitter.png" alt=""/></li>
				<li><img src="img/instagram.png" alt=""/></li>
			</ul>
			
		</div>
		
	</div>
	
	<div class="clearboth"></div>
	<div class="container-fluid menu">
		<ul class="nav">
			<li class="active">Home</li>
			<li><a href="news.html">News</a></li>
			<li><a href="about-us.html">About Us</a></li>
			<li>Media</li>
		</ul>
		
	</div>
	
<button class="btn offset1 btn-danger" type="button">WATCH LIVESTREAM</button>
	
<div class="container-fluid wrapper">


    <div class="titles">
			<h2>Gubenatorial Debate</h2>
			<h3>Thursday 06, 2017 </h3>
		</div>
		<div class="banner">
    		<img src="img/Banner.jpg" alt=""/>
    	</div>
    	<div class="banner-title">
			
			<h4>KIDERO VS KENNETH</h4>
			<h5>The battle for the capital is on,</br> 8pm on KTN, Citizen, ntv</h5>
		</div>
	
	<div class="poll-section">
			<h2>Quick poll</h2>	
			Who do you think will win the debate tonight ?

			<div class="span6">
			  <div class="candidate-1">
				  <h1>38%</h1> 
				  <h2>Peter Kenneth</h2>
			   </div>
			  <div class="candidate-2">
			  	 <h1>42%</h1>
				  <h2>Evans Kidero</h2>
			  </div>
				<div class="clearboth"></div>
				<ul class="voting">
				<li>
				<label class="radio">
				  <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
				  Peter Kenneth
				</label>
					</li>
					<li>
				<label class="radio ">
				  <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
				  Evans Kidero
				</label>
					</li>
				</ul>
			  	<button class="btn btn-success offset1" type="button">Send vote</button>
			</div>
	</div>
		
	</div>
	
<div class="container-fluid wrapper">
	<div class="moderators-title">
	<h2>Gubenatorial Candidates</h2>
	</div>
	<ul class="candidates">
		<li><img src="img/1.jpg"  class="img-circle" alt=""/>
			<h1>Peter Kenneth</h4>
			<h2>Jubilee</h3>
			<div class="clearboth"></div>
		</li>
		<li><img src="img/2.jpg"  class="img-circle" alt=""/>
			<h1>Evans Kidero</h4>
			<h2>ODM</h3>
			<div class="clearboth"></div>
		</li>
		<li><img src="img/3.jpg"  class="img-circle" alt=""/>
			<h1>Mike Sonko</h4>
			<h2>Jubilee</h3>
			<div class="clearboth"></div>
		</li>
		<li><img src="img/4.jpg"  class="img-circle" alt=""/>
			<h1>Miguna Miguna</h4>
			<h2>Independent</h3>
			<div class="clearboth"></div>
		</li>
	</ul>

</div>

<div class="container-fluid wrapper">
  <div class="moderators-title">
	<h2>Debate Moderators</h2>
	</div>
  <ul class="moderators">
		<li><img src="img/moderator-1.jpg"  class="img-circle" alt=""/>
			<h1>John Sibi Okumu</h4>
			<h2>KTN</h3>
			<div class="clearboth"></div>
		</li>
		<li><img src="img/moderator-2.jpg"  class="img-circle" alt=""/>
			<h1>Uduak amimo</h4>
			<h2>Citizen tv</h3>
			<div class="clearboth"></div>
		</li>
		<li><img src="img/jeff.jpg"  class="img-circle" alt=""/>
			<h1>Jeff Koinange</h4>
			<h2>Citizen tv</h3>
			<div class="clearboth"></div>
		</li>
	</ul>
	
	
</div>


<div class="container-fluid wrapper">
  <div class="moderators-title">
	<h2>Debate Schedule</h2>
	</div>
	
	<ul class="debate-schedule">
		<li>
			<div class="date">
				<h1>30</h1>
				<h2>July</h2>
			</div>
			<div class="debate-info">
				<h3>Presidential Debate</h3>
				<h4>Strathmore University</br> 7pm</h4>
			</div>
			<div class="clearboth"></div>
		</li>
		<li>
			<div class="date">
				<h1>30</h1>
				<h2>July</h2>
			</div>
			<div class="debate-info">
				<h3>Gubenatorial Debate</h3>
				<h4>Kisii University</br>9pm</h4>
			</div>
			<div class="clearboth"></div>
		</li>
		<li>
			<div class="date">
				<h1>30</h1>
				<h2>July</h2>
			</div>
			<div class="debate-info">
				<h3>Deputy President's Debate</h3>
				<h4>Mombasa Whitesands </br> 6pm</h4>
			</div>
			<div class="clearboth"></div>
		</li>
		
	</ul>

</div>


<div class="container-fluid wrapper">
<div class="debate-news-title">
	<h2> Debate News</h2>	
	</div>
	
	<ul class="news">
		<li class="standard-digital">
		<img src="img/a.jpg" alt=""/>
			<h2>By KTN - Thur 06, 2017 </h2>
			<h1>Uhuru pleads with supporters to register as voters</h1>
			<div class="clearboth"></div>
		</li>
		<li class="citizen">
		<img src="img/a.jpg" alt=""/>
			<h2 class="citizen">By Citizen Tv - Thur 06, 2017 </h2>
			<h1>Uhuru pleads with supporters to register as voters</h1>
			<div class="clearboth"></div>
		</li>
		<li class="ntv">
		<img src="img/a.jpg" alt=""/>
			<h2>By NTV Digital - Thur 06, 2017 </h2>
			<h1>Uhuru pleads with supporters to register as voters</h1>
			<div class="clearboth"></div>
		</li>
		<li class="standard-digital">
		<img src="img/a.jpg" alt=""/>
			<h2>By KTN - Thur 06, 2017 </h2>
			<h1>Uhuru pleads with supporters to register as voters</h1>
			<div class="clearboth"></div>
		</li>
		
	</ul>
	</div>
	
<div class="footer">© Copyright 2017 - Debates Kenya</div>	
</body>
</html>
